:root {
    --main-bg-clr: #cafafe;
    --accent-clr: #55bcc9;
    --accent-clr-2: #97caef;
    --correct: #3feee6;
    --inCorrect: #fc4445;
}

/* VARIABLES ABOVE ^^^ */

* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--main-bg-clr);
    color: #fff;
}
body,
.quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.max-container {
    position: absolute;
    padding: 1rem;
    border-radius: .5rem;
    width: 1000px;
    max-width: 90%;
    top: 100px;
}
.container {
    text-align: center;
    background-color: var(--accent-clr);
    padding: 1rem;
    border-radius: .5rem;
}

.timer {
    text-align: center;
    font-size: 3rem;
    color: var(--accent-clr);
    font-weight: bold;
}

.title {
    margin-bottom: 50px;
    text-align: center;
    color: var(--accent-clr);
}

.quoteDisplayContainer,
.quoteTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote-display {
    width: 70%;
    padding: 10px 0;
    margin-left: calc(1rem - 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid var(--accent-clr);
    outline: none;
    width: 70%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}
/* .quote-input:focus {
    border-color: black;
} */

.correct {
    color: var(--correct);
}
.inCorrect {
    color: var(--inCorrect);
    text-decoration: underline;
}

.keyboard-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .5rem;
    padding: 5px 0;
    margin-top: 50px;
    width: 970px;
    height: 20rem;
    max-width: 100%;
    background-color: var(--accent-clr);
    user-select: none;
    transition: bottom 0.4s;
    bottom: 100px;
}

.keyboard-keys {
    text-align: center;
}
.keyboard-key {
    height: 50px;
    width: 50px;
    max-width: 250px;
    margin: 3px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.05rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    position: relative;
}
.keyboard-key:active {
    background: rgba(255, 255, 255, 0.4);
}
.keyboard-key-wide {
    width: 100px;
}
.keyboard-key-wider {
    width: 250px;
}
.keyboardKeyActive {
    /* animation: keyboardKeyActive 0.5 forwards; */
    background: rgba(255, 255, 255, 0.4);
}

/* @keyframes keyboardKeyActive {
    0%{
        background: rgba(255, 255, 255, 0.2);
    }
    100%{
        background: rgba(255, 255, 255, 0.6);
    }
} */